In [3]:
import pymysql

conn = pymysql.connect(host='127.0.0.1', user='root', password='1030', db='zero_pay', charset='utf8')

In [4]:
cur = conn.cursor()

In [5]:
import pandas as pd

In [24]:
restau = pd.read_sql("SELECT * FROM restaurant", conn)
restau.head()
restau.nunique()

C:\Users\user\AppData\Local\Temp\ipykernel_11056\327090434.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  restau = pd.read_sql("SELECT * FROM restaurant", conn)

place_name           45
address_name         42
road_address_name    42
latitude             45
longitude            45
dtype: int64

In [9]:
cvs = pd.read_sql("SELECT * FROM convenience_store", conn)
cvs.head()

C:\Users\user\AppData\Local\Temp\ipykernel_11056\4113908896.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cvs = pd.read_sql("SELECT * FROM convenience_store", conn)

    place_name      address_name   road_address_name    latitude  longitude
0  GS25 명일센트럴점  서울 강동구 명일동 342-1  서울 강동구 양재대로134길 26  127.145005  37.547594
1  GS25 길동오네뜨점   서울 강동구 길동 339-1  서울 강동구 양재대로124길 32  127.143478  37.542771
2   CU 강동구민회관점  서울 강동구 천호동 43-61    서울 강동구 천중로43길 93  127.141900  37.545151
3     CU 천호햇살점  서울 강동구 천호동 28-28  서울 강동구 양재대로133길 41  127.141018  37.547916
4    CU 강동해오름점  서울 강동구 명일동 352-4  서울 강동구 양재대로128길 13  127.143552  37.544980

In [10]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:1030@127.0.0.1/zero_pay')

In [11]:
cvs = pd.read_sql("SELECT * FROM convenience_store", engine)
cvs.head()

    place_name      address_name   road_address_name    latitude  longitude
0  GS25 명일센트럴점  서울 강동구 명일동 342-1  서울 강동구 양재대로134길 26  127.145005  37.547594
1  GS25 길동오네뜨점   서울 강동구 길동 339-1  서울 강동구 양재대로124길 32  127.143478  37.542771
2   CU 강동구민회관점  서울 강동구 천호동 43-61    서울 강동구 천중로43길 93  127.141900  37.545151
3     CU 천호햇살점  서울 강동구 천호동 28-28  서울 강동구 양재대로133길 41  127.141018  37.547916
4    CU 강동해오름점  서울 강동구 명일동 352-4  서울 강동구 양재대로128길 13  127.143552  37.544980

In [12]:
restau = pd.read_sql("SELECT * FROM restaurant", engine)
restau.head()

     place_name       address_name road_address_name    latitude  longitude
0     숯불돼지갈비마포집   서울 강동구 명일동 346-6    서울 강동구 상암로 200  127.144550  37.546177
1         황푸차이나   서울 강동구 명일동 345-6  서울 강동구 양재대로 1590  127.143697  37.547448
2        명일원조닭발  서울 강동구 명일동 325-16  서울 강동구 상암로47길 86  127.144644  37.550305
3         전주감자탕  서울 강동구 명일동 345-18    서울 강동구 상암로 191  127.143840  37.546558
4  양도령숯불민물장어 본점   서울 강동구 천호동 51-12  서울 강동구 양재대로 1521  127.141192  37.541660

In [14]:
history = pd.read_sql("SELECT * FROM use_history", engine)
history.head()

        place_name       address_name        date            time  price
0      GS25 암사팰리스점  서울 강동구 암사동 434-12  2024-08-23 0 days 11:46:00  10000
1       GS25 천호은혜점   서울 강동구 천호동 209-3  2024-08-09 0 days 11:01:00  10000
2       GS25 천호은혜점   서울 강동구 천호동 209-3  2024-07-31 0 days 11:33:00  10000
3        세븐일레븐 명일점   서울 강동구 명일동 306-5  2024-08-02 0 days 11:14:00  10000
4  황제한우정육식당 굽은다리역점    서울 강동구 천호동 34-6  2024-08-03 0 days 11:48:00  10000

In [22]:
# 문자열로 변환 후 문자열 replace 함수 사용
history['time'] = history['time'].astype(str).str.replace('0 days','')

In [23]:
history.head()

        place_name       address_name        date       time  price
0      GS25 암사팰리스점  서울 강동구 암사동 434-12  2024-08-23   11:46:00  10000
1       GS25 천호은혜점   서울 강동구 천호동 209-3  2024-08-09   11:01:00  10000
2       GS25 천호은혜점   서울 강동구 천호동 209-3  2024-07-31   11:33:00  10000
3        세븐일레븐 명일점   서울 강동구 명일동 306-5  2024-08-02   11:14:00  10000
4  황제한우정육식당 굽은다리역점    서울 강동구 천호동 34-6  2024-08-03   11:48:00  10000

In [ ]:
# 지도에 점찍기 

import folium

# 지도가 그려질 중심 좌표(대략 제주도의 중심 좌표), 지도를 그릴때 얼마나 줌을 적용할지
zeropay_map = folium.Map(location=[37.5527, 127.1455], zoom_start=11)

for i in range(len(map_df)):
    pos_list = [map_df.iloc[i][0], map_df.iloc[i][1]]
    folium.Marker(pos_list, popup=map_df.index[i]).add_to(jeju_map)
    
jeju_map.save('jeju.html')