In [2]:
import pymysql
import pandas as pd

In [3]:
filename = '01. CCTV_in_Seoul.csv'
df = pd.read_csv(filename)
df.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [4]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='1030', db='csvDB', charset='utf8')

In [5]:
cur = conn.cursor()

In [6]:
cur.execute("drop database if exists csvDB")

1

In [7]:
cur.execute("create database csvDB")

1

In [8]:
cur.execute("use csvDB")

0

In [9]:
cur.execute("create table cctvTable (기관명 varchar(10), 소계 int, 2013년도이전 int, 2014년 int, 2015년 int, 2016년 int)")

0

In [10]:
conn.commit()

In [11]:
df.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [12]:
cur.execute("INSERT INTO cctvTable VALUES ('{}', {}, {}, {}, {}, {})".format(
    df.iloc[0][0], df.iloc[0][1], df.iloc[0][2], df.iloc[0][3], df.iloc[0][4], df.iloc[0][5]))

C:\Users\user\AppData\Local\Temp\ipykernel_12916\3260056625.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][0], df.iloc[0][1], df.iloc[0][2], df.iloc[0][3], df.iloc[0][4], df.iloc[0][5]))

1

In [15]:
conn.commit()

In [17]:
for i in range(len(df)):
    cur.execute("INSERT INTO cctvTable VALUES ('{}', {}, {}, {}, {}, {})".format(
    df.iloc[i][0], df.iloc[i][1], df.iloc[i][2], df.iloc[i][3], df.iloc[i][4], df.iloc[i][5]))

C:\Users\user\AppData\Local\Temp\ipykernel_20064\3567693443.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[i][0], df.iloc[i][1], df.iloc[i][2], df.iloc[i][3], df.iloc[i][4], df.iloc[i][5]))

In [18]:
conn.commit()

In [19]:
value1 = df.loc[0][df.columns[0]]
value2 = df.loc[0][df.columns[1]]
value3 = df.loc[0][df.columns[2]]
value4 = df.loc[0][df.columns[3]]
value5 = df.loc[0][df.columns[4]]
value6 = df.loc[0][df.columns[5]]

indata2 = "INSERT INTO cctvTable VALUES ('{}', {}, {}, {}, {}, {})".format(
    value1,value2,value3,value4,value5,value6)

In [20]:
cur.execute(indata2)

1

In [21]:
conn.commit()

In [21]:
for i in range(len(df)):
    values = []
    for j in range(6):  # 총 6개의 열을 반복
        values.append(df.loc[i][df.columns[j]])
    
    indata2 = "INSERT INTO cctvTable VALUES ('{}', {}, {}, {}, {}, {})".format(
        values[0], values[1], values[2], values[3], values[4], values[5])
    
    cur.execute(indata2)

In [22]:
conn.commit()

In [15]:
cur.execute("delete from cctvTable order by 기관명 limit 1")

1

In [16]:
conn.commit()

In [31]:
cur.execute("delete from cctvTable ")

25

In [27]:
for i in range(len(df)):
    values = df.iloc[i].tolist()
    indata3 = "INSERT INTO cctvTable VALUES('{}', {}, {}, {}, {}, {})".format(*values)
    cur.execute(indata3)

In [32]:
conn.commit()

In [33]:
def writeDB(writeRow):
    for i in range(writeRow):
        values = df.iloc[i].tolist()
        indata3 = "INSERT INTO cctvTable VALUES('{}', {}, {}, {}, {}, {})".format(*values)
        cur.execute(indata3)
    conn.commit()
    
writeDB(10)